* {
    font-family: 微軟正黑體;    
    /* border: 1px solid #000; */
}

body {    
    margin: 0;
    padding: 0;    
    letter-spacing: 1px;
}

.test{
    height: 500px;
    width: 600px;
    position: relative;
    overflow: hidden;
}

.screen{
    height: 500px;
    
}

.screen .pages{
    height: 100%;
    width: 100%;
    margin: 0;    
    white-space: nowrap;
    position: absolute;
}

.screen .pages .page{
    width: 100%;
    height: 100%;
    display: inline-block;
    /* background: #f4f73b; */
    /* border: 1px solid #000; */
}

.page1{
    background: #111;
    width: 100%;
    height: 100%;
}

.page2{
    background: #fff;
    width: 100%;
    height: 100%;
}

.page3{
    background: #fcfc76;
    width: 100%;
    height: 100%;
}
p{
    color: aqua;
}